@use '../styles/base/layout' as l;
@use '../styles/base/utils' as u;
@use '../styles/base/button' as b;
@use '../styles/base/text' as t;

.sectionContainer {
    @include l.sectionContainer;
}

.contentContainer {
    @include l.contentContainer;

    padding: u.toRem(56) 0;
}

.postsTitleBar {
    @include l.stack(H, space-between, center);

    margin-bottom: u.toRem(12);
    
    h1 {
        @include t.heading("L");
    }
}

.inputFieldWrapper {
    @include l.stack(H, flex-start, center);
    @include t.base("M");

    position: relative;
    padding: u.toRem(8);
    gap: u.toRem(8);
    border: 1px solid var(--c-outline-secondary);
    border-radius: 24px;

    &:focus-within {
        background-color: var(--c-over-surface-primary);
    }

    input {
        @include t.base("M");

        max-width: 160px;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--c-on-surface-primary);

        &::placeholder {
            color: var(--c-on-surface-tertiary);
        }
    }
}

.clearButton {
    @include b.btn;
    @include l.stack(H, center, center);

    position: absolute;
    right: 0;
    padding: u.toRem(8);
    border-radius: 50%;
    background-color: transparent;

    @media (hover: hover) {
        &:hover {
            background-color: var(--c-over-surface-primary);
        }
    }

    span {
        @include u.srOnly;
    }
}

.postsList {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    column-gap: u.toRem(40);
    border-top: 1px solid var(--c-outline-primary);
}

.postWrapper {
    @include l.stack(H, space-between);

    position: relative;
    padding: u.toRem(24) 0;
    border-bottom: 1px solid var(--c-outline-primary);
    cursor: pointer;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: var(--c-blue-accent-primary);
        transform-origin: center left;
        transform: scale(0, 1);
        transition: transform 150ms ease-out;
    }

    @media (hover: hover) {
        &:hover {
            h2 {
                color: var(--c-blue-accent-primary);
            }

            &::after {
                transform: scale(1, 1);
            }
        }
    }
}

.leftWing {
    @include l.stack(V);

    gap: u.toRem(8);

    time {
        @include t.base("S");

        text-transform: uppercase;
        color: var(--c-on-surface-secondary);
    }

    h2 {
        @include t.heading("M");
    }

    p {
        @include t.base("M");
        color: var(--c-on-surface-secondary);
    }
}

.bookmarkButton {
    @include b.btn;
    @include l.stack(H, center, center);

    padding: u.toRem(8);
    border: 1px solid var(--c-outline-primary);
    border-radius: 50%;
    background-color: transparent;
    transition: transform 150ms ease-in-out;

    @media (hover: hover) {
        &:hover {
            background-color: var(--c-blue-accent-container-primary);
            transform: scale(1.1);
        }
    }

    &:active {
        transform: scale(0.98);
    }

    svg {
        fill: var(--c-on-surface-primary);
    }

    span {
        @include u.srOnly;
    }
}