@use '../styles/base/layout' as l;
@use '../styles/base/utils' as u;
@use '../styles/base/button' as b;
@use '../styles/base/text' as t;

.sectionContainer {
    @include l.sectionContainer;

    position: relative;
    min-height: calc(100vh - 60px);
    overflow: hidden;

    @include l.break(1140) {
        @include l.stack(V, flex-start);
        gap: u.toRem(24);
    }
}

.contentContainer {
    @include l.contentContainer;
    @include l.stack(V, flex-start);

    position: relative;
    gap: u.toRem(24);
    top: 45%;
    transform: translateY(35%);

    @include l.break(1140) {
        padding: 48px 0 0 0;
        position: static;
        transform: translateY(0%);
        gap: u.toRem(16);
    }

    h1 {
        @include t.display;

        max-width: 13ch;

        span {
            color: var(--c-blue-accent-primary);
        }

        @include l.break(1140) {
            font-size: u.toRem(48);
        }

        @include l.break(400) {
            font-size: u.toRem(32);
        }
    }

    p {
        @include t.subheading("M", "regular");

        max-width: 23ch;

        span {
            color: var(--c-blue-accent-primary);
        }

        @include l.break(400) {
            font-size: u.toRem(18);
        }
    }
}

.illustration {
    width: max(60vw, 1100px);
    position: absolute;
    right: -80px;
    bottom: -80px;

    @include l.break(1140) {
        width: 100%;
        position: static;
    }
}

.buttonWrapper {
    @include l.stack(H, flex-start, center);
    gap: u.toRem(8);

    @include l.break(400) {
        align-self: stretch;
        flex-direction: column;
        align-items: stretch;
    }
}

.secondaryButton {
    @include l.stack(H, flex-start, center);
    @include b.btn;
    @include t.base(M, "medium", "one-liner");

    padding: u.toRem(12) u.toRem(16);
    gap: u.toRem(8);
    border-radius: 24px;
    background-color: var(--c-blue-accent-container-primary);
    color: var(--c-on-surface-primary);
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            filter: brightness(120%);
        }
    }

    @include l.break(400) {
        @include l.stack(H, center, center);
    }
}

.iconWrapper {
    @include l.stack(H, center, center);

    width: 14px;
    transform: rotate(180deg);
    overflow: hidden;

    &>* {
        flex-shrink: 0;
    }
}