@use '../../styles/base/layout' as l;
@use '../../styles/base/utils' as u;
@use '../../styles/base/button' as b;
@use '../../styles/base/text' as t;

.sectionContainer {
    @include l.sectionContainer;
    border-bottom: 1px solid var(--c-outline-primary);
}

.contentContainer {
    @include l.contentContainer;
    @include l.stack(H, space-between, center);

    @include l.break(803) {
        padding: u.toRem(12) 0;
    }
}

.leftWing {
    @include l.stack(H, flex-start, center);

    gap: u.toRem(48);

    .logoLink {
        line-height: 0;
    }

    img {
        pointer-events: none;
        margin: 0;
    }
}

.rightWing {
    @include l.stack(H, flex-start, center);

    gap: u.toRem(8);
}

.menuItemsWrapper {
    @include l.stack;
    gap: u.toRem(16);

    @include l.break(803) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        justify-content: center;
        background-color: var(--c-surface-primary);
        gap: u.toRem(12);
    }
}