@use '../../styles/base/layout' as l;
@use '../../styles/base/utils' as u;
@use '../../styles/base/text' as t;


.tooltipWrapper {
    @include t.base("M", "regular", "one-liner");
    position: relative;
    padding: u.toRem(8) u.toRem(8);
    left: 8px;
    border-radius: 4px;
    background-color: var(--c-tooltip-container);
    color: var(--c-on-surface-primary);
    
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -5px;
        transform: translateY(105%);
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right:5px solid var(--c-tooltip-container);
    }
}