@use './utils' as u;

@function getLineHeight($flag) {
    @if $flag == "one-liner" {
      @return 100%;
    } @else {
      @return $flag;
    }
}

// UTILITY DATA
$font-face-primary: 'Roboto', sans-serif;
$font-face-secondary: 'Libre Franklin', sans-serif;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$heading-sizes: (
  "L": u.toRem(40),
  "M": u.toRem(24),
);

$subheading-sizes: (
  "M": u.toRem(24),
);

$base-sizes: (
  "L": u.toRem(18),
  "M": u.toRem(16),
  "S": u.toRem(14),
);

// TEXT STYLES
@mixin display {
  font-family: $font-face-secondary;
  font-size: u.toRem(64);
  font-weight: 700;
  line-height: 125%;
}

@mixin heading($size, $weight: "semibold", $height: 135%) {
    font-family: $font-face-secondary;
    font-size: map-get($heading-sizes, $size);
    font-weight: map-get($font-weights, $weight);
    line-height: getLineHeight($height);
}

@mixin subheading($size, $weight: "semibold", $height: 135%) {
    font-family: $font-face-secondary;
    font-size: map-get($title-sizes, $size);
    font-weight: map-get($font-weights, $weight);
    line-height: getLineHeight($height);
}

@mixin base($size, $weight: "regular", $height: 135%) {
  font-family: $font-face-primary;
  font-size: map-get($base-sizes, $size);
  font-weight: map-get($font-weights, $weight);
  line-height: getLineHeight($height);
}